body {
  overflow-x: hidden;
}

.graphicslink {
  text-decoration: none;
  background-image: linear-gradient(140deg, #FF64EF, #FF2626, #FF64EF, #FF2626, #FF64EF, #FF2626);
  -webkit-background-clip: text;
          background-clip: text;
  background-size: 400%;
  color: transparent;
  animation: textgradient 30s linear infinite;
}
@keyframes textgradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

.graphicslink:hover {
  cursor: pointer !important;
  color: transparent;
  background-size: 1000%;
  text-decoration: underline;
  transition: all 300ms ease-in-out;
}

.tab {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab-container {
  margin: 0 auto;
}

.tab-nav {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  list-style: none;
  border-bottom: 1px solid #222222;
  position: sticky;
  top: 0px;
  z-index: 2;
  background-color: #181818;
}

.tab-nav li h3 {
  padding: 40px 30px;
  cursor: pointer;
  transition: all 0.3s;
}

.tab-nav li.active h3 {
  background-image: linear-gradient(140deg, #FF64EF, #FF2626);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  transform: scale(1.1);
}

.tab-body {
  margin-top: 50px;
  display: none;
  animation: fade 0.8s;
}

.tab-body.active {
  display: flex;
  flex-flow: column;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
#portfolio-tabs {
  position: relative;
  padding: 100px 0;
}
#portfolio-tabs .header h3 {
  padding-top: 16px;
}
#portfolio-tabs .header p {
  font-family: "SF-PD-Bold";
  font-size: 46px;
  background-image: linear-gradient(140deg, #FF64EF, #FF2626, #FF64EF, #FF2626, #FF64EF, #FF2626);
  -webkit-background-clip: text;
          background-clip: text;
  background-size: 400%;
  color: transparent;
  padding-bottom: 25px;
  line-height: 50px;
  animation: textgradient 30s linear infinite;
}
@keyframes textgradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}
#portfolio-tabs .tab-container .tab-body .project {
  padding-bottom: 100px;
}
#portfolio-tabs .tab-container .tab-body .project .mockup {
  position: relative;
  left: -200px;
}
#portfolio-tabs .tab-container .tab-body .project .mockup img {
  width: 130%;
}
#portfolio-tabs .tab-container .tab-body .project .mockup-mobile img {
  width: 100%;
}
#portfolio-tabs .tab-container .tab-body .project .info {
  position: relative;
  right: 0;
  color: #fff;
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 0 25px;
}
#portfolio-tabs .tab-container .tab-body .project .info h4 {
  font-size: 32px;
}
#portfolio-tabs .tab-container .tab-body .project .info h2 {
  margin-top: 5px;
  font-size: 16px;
  color: #fff;
  opacity: 0.4;
  font-family: "SF-PD-Bold";
}
#portfolio-tabs .tab-container .tab-body .project .info p {
  font-size: 18px;
  padding: 40px 0;
  line-height: 32px;
  font-family: "SF-PD-Medium";
}
#portfolio-tabs .tab-container .tab-body .project .info .preview-button {
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 0;
  letter-spacing: 0;
}
#portfolio-tabs .tab-container .tab-body .project .info .preview-button i {
  padding-left: 10px;
}
#portfolio-tabs .tab-container .tab-body .project .info .preview-button i svg {
  width: 12px;
  fill: #FF2626;
}
#portfolio-tabs .tab-container .tab-body .button {
  text-align: center;
}
#portfolio-tabs .tab-container .tab-body .button .portfolio-button {
  background-color: #f0f0f0;
  color: #000000;
}

@media screen and (max-width: 500px) {
  .tab-nav li h3 {
    padding: 20px 10px;
  }
  #portfolio-tabs .header {
    padding: 0 10px;
  }
  #portfolio-tabs .header h3 {
    padding-bottom: 16px;
  }
  #portfolio-tabs .project .row {
    margin: 0;
  }
  #portfolio-tabs .project .row .mockup {
    left: -150px;
  }
}/*# sourceMappingURL=style-work.css.map */